a {
    cursor: pointer;
}

.twitter-logo {
    filter: invert(1);
    width: 100%;
    max-width: 300px;
}

.centered {
    text-align: center;
}

#seed-phrase {
    display: inline-block;
    margin: 30px 0;
    padding: 21px;
    width: 100%;
}

.row.step {
    display: none;

    &.active {
        display: flex;
    }
}

.user-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    padding: 2px;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    margin-bottom: 30px;

    #profile-image {
        border-radius: 250px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }

    .caption {
        font-weight: 800;
        width: calc(100% - 60px);
        text-align: center;
    }
}

/// ===========================================
/// Overriding theme
/// ===========================================
.read-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff !important;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;

    i {
        font-size: 22px;
        position: absolute;
        right: 20px;
        top: 12px;
    }
}

.col.limited {
    max-width: 600px;
}