a {
    cursor: pointer;
}

.twitter-logo {
    filter: invert(1);
    width: 100%;
    max-width: 300px;
}

.centered {
    text-align: center;
}

#seed-phrase {
    margin: 30px 0;
    padding: 20px;
    width: 100%;
}

.row.novisible {
    display: none;
}

/// ===========================================
/// Overriding theme
/// ===========================================
.read-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;

    i {
        font-size: 22px;
        position: absolute;
        right: 20px;
        top: 12px;
    }
}

.col.limited {
    max-width: 600px;
}