*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    min-height: 100vh;
    font: 1rem/1.5 "Helvetica Neue", Arial, sans-serif;

    * {
        font: 1rem/1.5 "Helvetica Neue", Arial, sans-serif;
    }
}

#loading-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px #333;
    width: 100%;
    max-width: 600px;
    padding: 30px;

    /*
    input {
        padding: 7px 5px;
        border-radius: 3px;
        border: 1px solid #aaa;
        box-shadow: 0 0 4px #333;
    }*/

    .file-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 2.5rem;
        font: 1rem/1.5 "Helvetica Neue", Arial, sans-serif;
        width: 100%;

        input {
            margin: 0;
            filter: alpha(opacity=0);
            opacity: 0;
        }

        .file-custom {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 5;
            height: 2.5rem;
            padding: .5rem 1rem;
            line-height: 1.5;
            color: #555;
            background-color: #fff;
            border: .075rem solid #ddd;
            border-radius: .25rem;
            box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:before {
                position: absolute;
                top: -.075rem;
                right: -.075rem;
                bottom: -.075rem;
                z-index: 6;
                display: block;
                content: "Browse";
                height: 2.5rem;
                padding: .5rem 1rem;
                line-height: 1.5;
                color: #555;
                background-color: #eee;
                border: .075rem solid #ddd;
                border-radius: 0 .25rem .25rem 0;
            }

            &:after {
                content: "Choose a file with Twitter usernames";
            }
        }
    }
}